.container{
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;

}

.parallax{
  background: url('img/Space2.jpg'); no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;

.header{
  padding: 960px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 24px;
}


}
